# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/
.env
.env.*

# FastAPI / local tooling
*.log

# Node / React
node_modules/
dist/
build/
.vite/

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

#zip
*.zip

